<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBQPaw3RTf4HFG0QYthlRA8j3FbLSqt9I</string>
	<key>GCM_SENDER_ID</key>
	<string>1063177860443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charmnsparkle.brando</string>
	<key>PROJECT_ID</key>
	<string>michelleyuenjewelry-booking</string>
	<key>STORAGE_BUCKET</key>
	<string>michelleyuenjewelry-booking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063177860443:ios:3db2e51021bea220cad67e</string>
</dict>
</plist>